DATABASE_URL=postgresql://USUARIO:SENHA@HOST:5432/BANCO?sslmode=require
PUBLIC_BASE_URL=https://SEU-DOMINIO-PUBLICO
PUBLIC_STORE_URL=https://SEU-DOMINIO-PUBLICO
INFINITEPAY_HANDLE=SEU_INFINITETAG
WHATSAPP_ACCESS_TOKEN=COLOQUE_AQUI_O_TOKEN_DA_META
WHATSAPP_PHONE_NUMBER_ID=836923366163524
WHATSAPP_VERIFY_TOKEN=GERE_UM_TOKEN_SECRETO
META_GRAPH_VERSION=v25.0
